body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.upload-container {
    background-color: #d3d3d3; /* Grey background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Adjusted width */
}

h2 {
    margin-bottom: 20px;
}