<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Package</title>
</head>
<body>
    <mat-horizontal-stepper labelPosition="bottom">
        <mat-step [completed]="true" *ngIf="manager" >
          <ng-template matStepLabel><span class="step-label">Manager</span></ng-template>
          <app-managers (reloadCareerPackageParent)="reload()"></app-managers>
        </mat-step>
      
        <mat-step>
          <ng-template matStepLabel><span class="step-label">User</span></ng-template>
          <app-users (reloadCareerPackageParent)="reload()"></app-users>
        </mat-step>
    
      </mat-horizontal-stepper>
</body>
</html>
