<section class="header">
    <header>
        <a href="#"><img src="logo.jpg" class="logo"></a>
        <ul>
            <ul>
                <li><a (click)="goToHome()">Home</a></li>
                <li><a>Learnings</a></li>
                <li><a>Career Package</a></li>
                <li *ngIf="ifAdmin()"><a (click)="goToAdmin()">Admin Controls</a></li>
                <li><a>Profile</a></li>
                <li><a (click)="onClickLogout()">Logout</a></li>
            </ul>
        </ul>
    </header>
</section>