/* General Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

/* Container Styles */
.upload-container {
    background-color: #5abdab;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
    overflow-y: auto;
}

.info-div,
.info-input-container {
    background-color: rgba(255, 255, 255, 0.527);
    padding: 10px;
    margin: 3px 0;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-input-container{
    background-color: #5abdabe8;
}

.info-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Headings */
h2 {
    margin-bottom: 20px;
}

/* Comment Section */
.comment-section {
    margin-top: 20px;
}

.comment {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

/* Input and Button Styles */
.input-group {
    display: flex;
    align-items: stretch;
}

textarea {
    flex: 1;
    margin-right: 1px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 10px;
    margin-left: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-success {
    background-color: #2a2650f6;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}

.submit-btn {
    width: 100%;
    max-width: 300px;
    margin: 15px auto 0;
    display: block;
}

/* Form Check Styles */
.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-left: 5px;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.form-check-input:not(:checked) {
    background-color: red;
    border-color: red;
}

/* Status Styles */
.status {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.status-pending {
    background-color: #ffc107;
}

.status-approved {
    color: green;
}

.status-rejected {
    color: red;
}

/* Submission Messages */
.submission-message {
    background-color: #e0e0e0;
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.message-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-link {
    margin: 5px 0;
}

.date-message {
    flex-grow: 1;
}

.submitted-container {
    margin: 5px 0;
}
