<html>
  <body>
    <div class="container">
       
        <div class="input-section">
            <label for="userId">Enter User ID: </label>
            <input type="number" id="userId" [(ngModel)]="userId" placeholder="Enter user ID">
            <button (click)="loadLearnings()">Submit</button>
        </div>
    
        <div class="learning-list">
            <div *ngFor="let learning of learnings" class="learning-box">
                <p><strong>Proof:</strong> {{ learning.proof }}</p>
                <p><strong>Proof Type:</strong> {{ learning.proofTypesDTO.proofType }}</p>
                <p><strong>Learning Type:</strong> {{ learning.learningTypesDTO.learningType }}</p>
    
                <div class="buttons">
                    <button (click)="approveLearning(learning)">Approve</button>
                    <button (click)="rejectLearning(learning.id)">Reject</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
