<html>
<body>
    <div class="container">
        <h2>Submit Learning</h2>
        
        <!-- Form to submit learning -->
        <form (ngSubmit)="submitLearning()" #learningForm="ngForm">
          <div class="form-group">
            <label for="learningType">Learning Type</label>
            <select id="learningType" [(ngModel)]="learning.learningTypesDTO.id" name="learningType" class="form-control" required>
              <option *ngFor="let learningType of learningTypes" [value]="learningType.id">
                {{ learningType.learningType }}
              </option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="proofType">Proof Type</label>
            <select id="proofType" [(ngModel)]="learning.proofTypesDTO.id" name="proofType" class="form-control" required>
              <option *ngFor="let proofType of proofTypes" [value]="proofType.id">
                {{ proofType.proofType }}
              </option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="proof">Proof</label>
            <input type="text" id="proof" [(ngModel)]="learning.proof" name="proof" class="form-control" required />
          </div>
      
          <button type="submit" class="btn btn-primary" [disabled]="learningForm.form.invalid">Submit</button>
        </form>
      
        <hr />
      
        <h3>Learnings</h3>
        <div *ngIf="learnings.length === 0">No learnings available.</div>
        <div *ngIf="learnings.length > 0" class="scrollable">
          <ul class="list-group">
            <li *ngFor="let learn of learnings" class="list-group-item">
                <strong class="text-white">Learning Type:</strong> 
                <span class="text-grey padding-left">{{ learn.learningTypesDTO.learningType }}</span>
                <br />
                
                <strong class="text-white">Proof:</strong> 
                <span class="text-grey padding-left">{{ learn.proof }}</span>
                <br />
                
                <strong class="text-white">Proof Type:</strong> 
                <span class="text-grey padding-left">{{ learn.proofTypesDTO.proofType }}</span>
                <br />
                
                <strong class="text-white">Status:</strong> 
                <span class="text-grey padding-left">{{ learn.approvalStatus }}</span>
                <br />
                
                <strong class="text-white">Comment:</strong> 
                <span class="text-grey padding-left">{{ learn.comment }}</span>
                <br />
              </li>
          </ul>
        </div>
      </div>
</body>
</html>
