<html>
<body>
    <div class = "body">
        <div class="learning-container">
            <h2>Submit Learning</h2>
            <form (ngSubmit)="submitLearning()">
                <div class="form-group">
                    <label for="proof">Proof:</label>
                    <input type="text" id="proof" [(ngModel)]="learning.proof" name="proof" required>
                </div>
                <div class="form-group">
                    <label for="proofType">Proof Type:</label>
                    <select id="proofType" [(ngModel)]="learning.proofType" name="proofType" required>
                        <option *ngFor="let type of proofTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" [(ngModel)]="learning.description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="learningType">Learning Type:</label>
                    <select id="learningType" [(ngModel)]="learning.learningType.id" name="learningType" required>
                        <option *ngFor="let type of learningTypes" [value]="type.id">{{ type.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ManagerId">Manager id:</label>
                    <input type="email" id="ManagerId" [(ngModel)]="learning.ManagerId" name="ManagerId" required>
                </div>
                <div class="form-group">
                    <button type="submit">Submit Learning</button>
                </div>
            </form>
        </div>
        
        <div class="learning-list-container">
            <h2>Learnings</h2>
            <div class="learning-list" *ngIf="learnings.length > 0">
                <div class="learning-item" *ngFor="let learning of learnings">
                    <p><strong>Proof:</strong> {{ learning.proof }}</p>
                    <p><strong>Description:</strong> {{ learning.description }}</p>
                    <p><strong>Proof Type:</strong> {{ learning.proofType }}</p>
                    <p><strong>Learning Type:</strong> {{ learning.learningType.name }}</p>
                    <p><strong>Manager Id:</strong> {{ learning.ManagerId }}</p>
                </div>
            </div>
            <button (click)="loadMoreLearnings()" *ngIf="learnings.length === pageSize">Load More</button>
        </div>
    </div>
</body>
</html>