<div class="upload-container">
  <h2>Upload Career Package Here</h2>
  <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileChange($event)" accept=".doc,.docx">
  </div>

  <!-- Submit Career Package Button -->
  <button (click)="submitCareerPackage()" class="btn btn-success mt-3 submit-btn">
      Submit Career Package
  </button>
</div>

<!-- New Div for Submitted Career Packages -->
<div class="submitted-packages mt-4 parent-div">
  <h2 class="text-center">Submitted Career Packages</h2>
  <div *ngFor="let message of submissionMessages" class="submission-message">
      <div class="message-content">
          <span class="date-message">{{ message.date }}</span>
          <div class="status-pending" [ngStyle]="{ backgroundColor: statusColor(message.status) }">{{ message.status }}</div>
      </div>
      <div class="file-link">
          File: <a (click)="downloadFile(message.file, message.id)" href="javascript:void(0);">{{ message.file }}</a>
      </div>
      <div *ngFor="let c of message.comments" class="comment">
          <strong>Comment:</strong> {{ c }}
      </div>
  </div>
</div>
