<div class="upload-container">
  <h2>Upload Career Package Here</h2>
  <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileChange($event)" accept=".doc,.docx">
  </div>

  <!-- Comment Section -->
  <div class="comment-section">
      <div class="input-group">
          <textarea [(ngModel)]="comment" class="form-control" rows="3" placeholder="Add a comment..."></textarea>
          <button (click)="submitComment()" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11Z"/>
              </svg>
          </button>
      </div>

      <!-- Displaying multiple comments -->
      <div *ngFor="let c of comments" class="comment">
          <strong>Comment:</strong> {{ c }}
      </div>
  </div>

  <!-- Submit Career Package Button -->
  <button (click)="submitCareerPackage()" class="btn btn-success mt-3 submit-btn">
      Submit Career Package
  </button>
</div>

<!-- New Div for Submitted Career Packages -->
<div class="submitted-packages mt-4 parent-div">
  <h2 class="text-center">Submitted Career Packages</h2>
  <div *ngFor="let message of submissionMessages" class="submission-message">
      <div class="message-content">
          <span class="date-message">{{ message.date }}</span>
          <div class="status-pending" [ngStyle]="{ backgroundColor: statusColor(message.status) }">{{ message.status }}</div>
      </div>
      <div class="file-link">
          File: <a (click)="downloadFile(message.file, message.id)" href="javascript:void(0);">{{ message.file }}</a>
      </div>
      <div *ngFor="let c of message.comments" class="comment">
          <strong>Comment:</strong> {{ c }}
      </div>
  </div>
</div>
