<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumerge's Platform</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="logo.jpg" class="logo"></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Learnings</a></li>
                <li><a href="#">Career Package</a></li>
                <li><a href="#">Scoreboard</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="textBox">
                <h2>Welcome to <span>Sumerge's Platform</span></h2>
            </div>    
                <div class="imageBox">
                    <img class="platform" src="platform3.png">
                </div>
            </div>
            <ul class="thumb">
                <li>
                    <img src="platform3.png">
                </li>
                <li>
                    <img src="package2.png">
                </li>
                <li>
                    <img src="learning2.png">
                </li>
            </ul>
    </section>
    
    <section class="scoreboard">
        <h2>Learning Scoreboard</h2>
        <div class="scoreboard-background">
            <app-scoreboard-list></app-scoreboard-list>
        </div>
    </section>
    
    
    <section class="journey-map">
        <div class="content">
            <div class="textBox">
                <h2><span class="journey-map-title">Journey Map</span></h2>
            </div>
        </div>
    </section>   
</body>
</html>