<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumerge's Platform</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <section>
        <div class="circle"></div>
        <!-- <header>
          <a href="#"><img src="logo.jpg" class="logo"></a>
          <button class="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
          <ul>
            <li><a (click)="goToHome()">Home</a></li>
            <li><a>Learnings</a></li>
            <li><a (click)="goToCareerPackage()">Career Package</a></li>
            <li *ngIf="admin"><a (click)="goToAdmin()">Admin Controls</a></li>
            <li><a>Profile</a></li>
            <li><a (click)="onClickLogout()">Logout</a></li>
          </ul>
      </header> -->
      
      
        <div class="content">
            <div class="textBox">
              <h2>{{ currentText1 }}<span>{{ currentText2 }}</span></h2>
            </div>    
            <div class="imageBox">
              <img class="platform" [src]="currentImage" alt="Selected Platform">
            </div>
          </div>
          
          <ul class="thumb">
            <li (click)="changeImage('platform3.png')">
              <img src="platform3.png" alt="Platform 3">
            </li>
            <li (click)="changeImage('package2.png')">
              <img src="package2.png" alt="Package 2">
            </li>
            <li (click)="changeImage('learning2.png')">
              <img src="learning2.png" alt="Learning 2">
            </li>
          </ul>
    </section>
    
    <section class="scoreboard">
        <h2>Learning Scoreboard</h2>
        <div class="scoreboard-background">
            <app-scoreboard-list [users] = 'users'></app-scoreboard-list>
        </div>
    </section>
    
    
    <section class="journey-map">
      <div class="white-div">
      </div>
      <div class="content">
          <div class="textBox">
              <h2><span class="journey-map-title">Journey <br>Map</span></h2>
          </div>
          <div class="carousel-container">
              <app-user-carousel [users] = 'users' [scoreboardLevels] = 'scoreboardLevels' [numberOfSlides] = 'numberOfSlides'></app-user-carousel>
          </div>
      </div>
  </section>
  
  <script>
    document.querySelector('.mobile-menu-toggle').addEventListener('click', function() {
    document.querySelector('header ul').classList.toggle('active');
});
  </script>
     
</body>
