<div class="form-container">
    <h2>Apply Booster</h2>
    <form class="booster-form" [formGroup]="applyActiveBoosterForm" (ngSubmit)="onSubmitApplyActiveBooster()">
        <div *ngFor="let activeBooster of applyActiveBooster">
            <app-active-booster 
                [activeName]="activeBooster.name" 
                [isActive]="activeBooster.isActive" 
                (isActiveChange)="onActiveChange(activeBooster.name, $event)">
            </app-active-booster>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary btn-lg">Apply Boosters</button>
        </div>
    </form>
</div>
